node_modules/
/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
logs/
uploads/pdfs/
uploads/thumbnails/
.DS_Store
dist/
/.vscode/
.idea/node_modules/
.env
logs/*.log
uploads/thumbnails/*
uploads/pdfs/*
!uploads/thumbnails/.gitkeep
!uploads/pdfs/.gitkeep
